* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightsteelblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 3px 3px 3px #423d3d;
    width: 40vw;
    height: 50vh;
    gap: 2rem;
   
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.container h1{
    font-size: 3rem;
}
.counter span {
    font-size: 5rem;
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
   
   
}

.btn {
    border: 1px solid darkblue;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(25, 23, 23);
    letter-spacing: 2px;
    transition: 0.5s;
    width: 6rem;
    height: 3rem;
    text-align: center;
    transition: 0.2s ease;
   
}
.btn i{
    margin-top:18%;
}


.btn:hover {
    cursor: pointer;
   
}